.header {
    position: absolute; /* Position header over main content */
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0); /* Transparent */
    z-index: 1000; /* Ensure header on top content */
    margin: 0 auto; 
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0 30px; 
  }
  
  .logo {
    display: flex;
    
  }
  
  .nav {
    display: flex;
    gap: 20px; 
    margin-left: auto; 
    margin-right: 20px; 
  }
  
  .nav-link {
    text-decoration: none;
    color: #000;
    font-size: 16px;
  }
  
  .search-profile {
    display: flex;
    align-items: center;
    gap: 15px;  
  }
  
  .search-bar {
    position: relative;
    max-width: 250px; 
    width: 200px;
  }
  
  .search-input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
  }
  
  .search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
    cursor: pointer;
  }
  
  .profile-pic {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 50%;
    object-fit: cover;
  }