.pink-button {
    background-color: #DEC4E2; 
    color: black; 
    border: none; 
    border-radius: 50px; /* rounded corners */
    padding: 10px 20px; /* Padding inside button */
    font-size: 16px; 
    cursor: pointer; /* Pointer cursor on hover */
    text-align: center; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* subtle shadow for a lifted effect */
    outline: none; /* Remove default outline */
    transition: background-color 0.3s ease; /* Smooth background color transition */
    max-width: 500px;
    margin: 0 auto;
  }
  
  .pink-button:hover {
    background-color: #c9b2c8; /* Slightly darker pink on hover */
  }
  