/* ProductCard.css */

.product-card {
  width: 200px; 
  border-radius: 15px; 
  background-color: white; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for effect */
  text-align: center; 
  padding: 10px; /* Padding inside card */
  margin: 10px;
  text-decoration: none; /* Remove underline from link */
  color: inherit; /* Inherit text color */
  transition: transform 0.2s ease; /* Smooth transition on hover */
  cursor: pointer; /* Show pointer cursor on hover */
  border: none; /* Remove default border */
}

.product-card:hover {
  transform: translateY(-5px); /* Slight lift effect on hover */
}

.product-image {
  width: 100%;
  height: 250px; /* Fixed height image placeholder */
  background-color: #d8d8d8; /* Background color temp */
  border-radius: 10px; 
  margin-bottom: -10px; 
}

.product-name {
  font-size: 16px; 
  font-weight: normal;
  color: #555; 
  margin-bottom: 5px; 
}

.product-price {
  font-size: 14px; 
  color: #888; 
  margin: 0; /* Remove default margin */
}
.product-image img{
  width: 100%;
  height: auto;
}
